.TextBox_main {
  z-index: 3;
  position: absolute;
  right: 120px;
  min-height: 330px;
  max-height: 330px;
  background-blend-mode: darken;
  border-radius: 48px;
  bottom: 60px;
  left: 120px;
  font-weight: normal;
  color: white;
  padding: 56px 64px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  letter-spacing: normal;
  transition: left 0.33s;
  transform: scale(0.9);
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: 2320px;
  justify-self: center;

  &[data-auto='true'] {
    &::after {
      position: relative;
      left: 1920px;
      bottom: 172px;
      font-size: 50px;
      text-shadow: 8px 8px 16px white, 8px -8px 16px white, -8px -8px 16px white, -8px 8px 16px white;
      color: #ff3b72;
      content: '▶AUTO';
      animation: auto-blink 1.2s infinite;
    }
  }
}

@keyframes auto-blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.TextBox_Background {
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1 !important;
  box-shadow: 0px 6px 0px rgba(190, 190, 190, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  overflow: hidden;

  &::after {
    content: '';
    width: 6em;
    height: 6em;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    right: 8px;
    background-image: url('game/template/assets/textbox-background.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 6em;
    opacity: 0.4;
    transform: rotate(4deg);
  }
}

.TextBox_textElement_start {
  position: relative;
  animation: TextDelayShow 1000ms ease-out forwards;
  opacity: 0;
}

.outer {
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  background: rgb(80, 80, 80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}

.inner {
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  z-index: 1;
  visibility: hidden;
}

.zhanwei {
  color: transparent;
  white-space: nowrap;
}

.TextBox_textElement_Settled {
  position: relative;
  opacity: 1;
}

.TextBox_showName {
  padding-left: 48px;
  padding-right: 120px;
  min-width: 10em;
  max-width: 16em;
  position: absolute;
  left: -8px !important;
  top: -92px;
  height: 105px;
  line-height: 110px;
  border-radius: 9999px;
  z-index: 3;
  border: 4px solid rgba(255, 255, 255, 0);
  font-size: 275% !important;
  overflow: hidden;
}

.TextBox_ShowName_Background {
  z-index: 2;
  background: linear-gradient(135deg, #ff5081 20%, #ff3b72 20%);
  border: 5px solid rgba(255, 255, 255, 1);
  opacity: 1 !important;
  overflow: hidden;
  box-shadow: none;

  &::after {
    content: '';
    width: 105px;
    height: 105px;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: -6px;
    background-image: url('game/template/assets/textbox-meteor.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 105px;
  }
}

.miniAvatarContainer {
  position: absolute;
  height: 450px;
  width: 450px;
  bottom: 420px;
  left: 40px;
  border-radius: 0;
  overflow: hidden;
}

.miniAvatarImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
  position: absolute;
  left: 2em;
  top: -3.5em;
}

.outerName {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 2;
}

.innerName {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: transparent;
  -webkit-text-stroke: 6px #ff3b72;
}

.text {
  line-height: 75px !important;
  overflow: hidden;
  font-size: 240% !important;
  padding: 0 !important;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes TextDelayShow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
