.TextBox_main {
  z-index: 3;
  position: absolute;
  right: 120px;
  min-height: 330px;
  max-height: 330px;
  background-blend-mode: darken;
  border-radius: 48px;
  bottom: 60px;
  left: 120px;
  font-weight: normal;
  color: white;
  padding: 56px 64px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  letter-spacing: normal;
  transition: left 0.33s;
  transform: scale(0.9);
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: 2320px;
  justify-self: center;

  &[data-auto='true'] {
    &::before,
    &::after {
      content: '▶ AUTO';
      position: absolute;
      right: 120px;
      bottom: 275px;
      font-size: 48px;
      color: #ff3b72;
      animation: auto-blink 1s infinite;
    }

    &::before {
      -webkit-text-stroke: 14px #ffffff;
      z-index: -2;
    }

    &::after {
      -webkit-text-stroke: 1px #ff3b72;
      z-index: -1;
    }
  }
}

@keyframes auto-blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.TextBox_Background {
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1 !important;
  box-shadow: 0px 6px 0px rgba(190, 190, 190, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  overflow: hidden;

  &::after {
    content: '';
    width: 6em;
    height: 6em;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    right: 8px;
    background-image: url('game/template/assets/textbox-background.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 6em;
    opacity: 0.4;
    transform: rotate(4deg);
  }

  &[data-waiting='true'] {
    &::before {
      content: '';
      width: 2em;
      height: 2em;
      display: inline-block;
      position: absolute;
      right: 64px;
      bottom: 30px;
      background-image: url('game/template/assets/icon-pink.png');
      background-position: right bottom;
      background-repeat: no-repeat;
      transform-origin: 70% 90%;
      transform: scale(3.2);
      filter: drop-shadow(0 8px 1px rgba(120, 120, 120, 0.7));
      animation: waiting-icon 1s infinite;
      transition: all 1s;
    }
  }
}

@keyframes waiting-icon {
  0% {
    transform: scaleX(3.2) scaleY(3) translateY(0) rotate(0deg);
    filter: drop-shadow(0 8px 1px rgba(120, 120, 120, 0.7));
  }
  15% {
    transform: scaleX(3.2) scaleY(3.2) translateY(-2px) rotate(0deg);
    filter: drop-shadow(0 6px 1px rgba(120, 120, 120, 0.5));
  }
  30% {
    transform: scaleX(3.2) scaleY(3.2) translateY(-4px) rotate(-20deg);
    filter: drop-shadow(2px 4px 1px rgba(120, 120, 120, 0.4));
  }
  50% {
    transform: scaleX(3.2) scaleY(3.2) translateY(-6px) rotate(20deg);
    filter: drop-shadow(-2px 2px 1px rgba(120, 120, 120, 0.3));
  }
  60% {
    transform: scaleX(3.2) scaleY(3.2) translateY(-5.5px) rotate(-10deg);
    filter: drop-shadow(1px 3px 1px rgba(120, 120, 120, 0.35));
  }
  70% {
    transform: scaleX(3.2) scaleY(3.2) translateY(-4px) rotate(0deg);
    filter: drop-shadow(0 5px 1px rgba(120, 120, 120, 0.45));
  }
  100% {
    transform: scaleX(3.2) scaleY(2.4) translateY(0) rotate(0deg);
    filter: drop-shadow(0 8px 1px rgba(120, 120, 120, 0.7));
  }
}

.TextBox_textElement_start {
  position: relative;
  animation: TextDelayShow 1000ms ease-out forwards;
  opacity: 0;
}

.outer {
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  background: rgb(80, 80, 80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
}

.inner {
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  z-index: 1;
  visibility: hidden;
}

.zhanwei {
  color: transparent;
  white-space: nowrap;
}

.TextBox_textElement_Settled {
  position: relative;
  opacity: 1;
}

.TextBox_showName {
  padding-left: 48px;
  padding-right: 120px;
  min-width: 10em;
  max-width: 16em;
  position: absolute;
  left: -8px !important;
  top: -92px;
  height: 105px;
  line-height: 110px;
  border-radius: 9999px;
  z-index: 3;
  border: 4px solid rgba(255, 255, 255, 0);
  font-size: 275% !important;
  overflow: hidden;
}

.TextBox_ShowName_Background {
  z-index: 2;
  background: linear-gradient(135deg, #ff5081 20%, #ff3b72 20%);
  border: 5px solid rgba(255, 255, 255, 1);
  opacity: 1 !important;
  overflow: hidden;
  box-shadow: none;

  &::after {
    content: '';
    width: 105px;
    height: 105px;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: -6px;
    background-image: url('game/template/assets/textbox-meteor.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 105px;
  }
}

.miniAvatarContainer {
  position: absolute;
  height: 450px;
  width: 450px;
  bottom: 420px;
  left: 40px;
  border-radius: 0;
  overflow: hidden;
}

.miniAvatarImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(15px 0 3px rgba(0, 0, 0, 0.5));
}

.nameContainer {
  position: absolute;
  left: 2em;
  top: -3.5em;
}

.outerName {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 2;
}

.innerName {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: transparent;
  -webkit-text-stroke: 6px #ff3b72;
}

.text {
  line-height: 75px !important;
  overflow: hidden;
  font-size: 240% !important;
  padding: 0 !important;
}

@keyframes showSoftly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes TextDelayShow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
